*{
    padding: 0%;
    margin: 0%;
}
.header h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.header{
    background-color: grey;
    padding: 40px;
    border: 2px black solid;
    margin: 20px;
}
/*.header_link{
    color: white;
    text-decoration: none;
}*/

nav a{
    color:white;
    text-decoration: none;
}

.about_us{
    margin: 20px;
}
.about_elements{
    display: grid;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap:10px;
    margin: auto;
}
.about_elements div{
    margin: auto;
    background-color: green;
    color: white;
    padding: 10px;
    border: 2px black solid;
}